<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<header>
<div class="header-container">
  <div class="logo">
    <img src="/src/assets/furbo.jpg" alt="Logo">
  </div>
  <div class="contact">
    <ul>
      <li><i class="fas fa-envelope"></i>faviodileva@hotmail.com</li>
      <li><i class="fas fa-phone"></i>+55 8126221609</li>
      <li><i class="fab fa-twitter"></i>@Favio_Crack</li>
      <li><i class="fas fa-map-marker-alt"></i>Monterrey, Nuevo León</li>
    </ul>
  </div>
  <div class="name">
    <h1>Favio Mariano Dileva Charles</h1>
    <p>Estudiante de Tecnologías Computacionales.</p>
  </div>
</div>
</header>
