<div class="container">
  <div class="experience-container">
    <div class="experience-header">
      <h1>Experiencia laboral</h1>
    </div>

    <div class="experience-grid">
      <div class="experience-item">
        <h2>Maestro en clases de verano</h2>
        <h3>2017-2017</h3>
        <p>Enseñar a niños clases de programación en "scratch".
           Clases de verano en una escuela "Heroinas mexicanas".
        </p>
      </div>

      <div class="experience-item">
        <h2>Clases particulares de inglés</h2>
        <h3>2018-2019</h3>
        <p>Clases particulares de lengua alterna.
          Servicio de clases de inglés para niños y adultos.
          Hacía promocón online y la gente contrataba el servicio.
        </p>
      </div>

      <div class="experience-item">
        <h2>Call Center</h2>
        <h3>2020-2021</h3>
        <p>Atención a clientes de manera remota.
          Asistencia en idioma inglés.
        </p>
      </div>

      <div class="experience-item">
        <h2>Consultoría</h2>
        <h3>2021-Presente</h3>
        <p>Trabajo en una empresa de consultoría.
          Probamos nuevas tecnologías para la posible implementación y desarrollo.
        </p>
      </div>

      <div class="experience-item">
        <h2>Desarrollo de videojuego</h2>
        <h3>2021-2021</h3>
        <p>Desarrollo de videojego para organización "PAS".
          Se basaba en desarrollar un videojuego relacionado con la salud auditiva.
          Página web con .NET y videojuego desarrollado en Unity, con C#.
        </p>
      </div>
      <div class="experience-item">
        <h2>Desarrollo de App</h2>
        <h3>2022-2022</h3>
        <p>Desarrollo de app para el gobierno de Atizapán.
          Aplicación móvil para android, utilizando Android 
          studio, kotlin y para la página administrativa .NET.
        </p>
      </div>
    </div>
  </div>
</div>

  
