<div class="interests-container">
    <h2>Intereses</h2>
    <table>
      <tr>
        <td><i class="fas fa-laptop-code"></i></td>
        <td><i class="fas fa-gamepad"></i></td>
        <td><i class="fas fa-robot"></i></td>
        <td><i class="fas fa-book"></i></td>
      </tr>
      <tr>
        <td>Computación</td>
        <td>Videojuegos</td>
        <td>A.I.</td>
        <td>Leer</td>
      </tr>
      <tr>
        <td><i class="fas fa-futbol"></i></td>
        <td><i class="fas fa-users"></i></td>
        <td><i class="fas fa-baseball-ball"></i></td>
        <td><i class="fas fa-database"></i></td>
      </tr>
      <tr>
        <td>Fútbol</td>
        <td>Socializar</td>
        <td>Tennis</td>
        <td>Bases de datos</td>
      </tr>
    </table>
  </div>
  
